html {
  position: relative;
}


#navbar {
  background-color: #adb7bd;
  color: white;
}

.jumbotron {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color:rgb(80, 255, 226) ;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron img {
  width: 200px;
  border-top: 5px solid #888;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
jumbotron h1 {
  padding-top: 4rem;
  font: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }
 main {
   padding: 20px;
   display: flex;
   gap: 1.5rem;
 }

 header {
   display: inline;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00ccff;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #040404;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

nav li a:hover {
  background-color: #33c5ff;
}
 h2, h3 {
    color: #00a2c6;
 }
  
 footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
 }
 .profile header {
   text-align: center;
}
.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}
.profile img {
   width: 200px;
}
.card {
   box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
 #content {
   flex: 5;
   display: flex;
   flex-flow: column nowrap;
   gap: 1rem 2rem;
 }
 aside {
   flex: 1;
 }
 * {
   box-sizing: border-box;
 }
 @media screen and (max-width: 1000px) {
   #content,
   aside {
     width: 100%;
     padding: 0;
   }
 }
 @media screen and (max-width: 1200px) {
   main {
      flex-flow: column nowrap;
    }
    main aside {
      align-self: center;
    }
   
 }
@media screen and (max-width: 768px) {
   nav ul {
      justify-content: center;
    }
   
    main aside {
      align-self: stretch;
    }
}